@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700);/* GLOBAL STYLES, OMG ! */

body {
  margin: 0;

  font-size: 1rem;
  line-height: 1.5rem;

  /* system font https://medium.com/designing-medium/system-shock-5b1dc6d6596f */
  font-family: "Source Sans Pro", "Helvetical Neue", -apple-system, sans-serif;
}

a {
  color: #092c7a;
  opacity: 0.8
}

a:hover{
  opacity: 1;
}

h1,
h2,
h3 {
  font-weight: 200;
}

/* for .markdownIt-Anchor */
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

.markdownIt-Anchor {
  position: absolute;
  left: -1.5rem;
  opacity: 0.1;
  transition: opacity 0.2s
}

h1:hover .markdownIt-Anchor,
h2:hover .markdownIt-Anchor,
h3:hover .markdownIt-Anchor,
h4:hover .markdownIt-Anchor,
h5:hover .markdownIt-Anchor,
h6:hover .markdownIt-Anchor{
  opacity: 1;
}

blockquote {
  opacity: 0.7;
  margin: 2rem 0;
}

/* local styles */

.web_modules-LayoutContainer-index--layout--2Dus4 {
  /* placeholder */
}

.web_modules-LayoutContainer-index--content--sKdOR {
  max-width: 60rem;
  margin: auto;
  padding: 1rem 0.75rem;
}
