.web_modules-layouts-Page-index--background--chD0i {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  background: url("/assets/light-bg-grid.png") center 2px;
  width: 100%;
  height: 100%;
}
